* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        background-color: #bfd202;
        background-image: url("lunch box.jpeg") ;
        background-repeat: no-repeat;
        background-position:right center;
        background-size: 45% 100%;
        font-family: "cooper";
         display: flex;
  justify-content: flex-start;
  align-items: center;
        /*margin: 0;*/
        height: 100vh;
        /*margin-right: 200px;*/

    }

    .container {
        text-align: center;
        border-radius: 10px;
        padding: 30px;
        width: 40%; /* Adjust form width */
        margin-left: 5%; /* Add spacing from the left edge */
}

    h3 {
        /*text-align: center ;*/
        color: #0a5247;
        font-size: 40px;
        /*margin-right: 350px;*/
          margin-bottom: 20px;
        padding: 10px 30px;
        background-color: #e7ed76;
        width: 100%;
        border-radius: 10px;

    }

    h4 {
        /*text-align: center ;*/
        color: #0a5247;
        font-size: 30px;
        /*margin-right: 350px;*/
          margin-bottom: 15px;

    }

    h1 {
        /*text-align: center;*/
        color: #0a5247;
        font-size: 60px;
        /*margin-right: 350px;*/
          margin-bottom: 20px;

    }

    .input-field {
        width: 80%;
        margin-bottom: 15px;
        font-size: 16px;
        border-radius: 30px;
        background-color: #e7ed76;
        border: 1px solid #8bc34a;
        font-family: 'Palatino Linotype', 'Palatino', serif;
        text-align: center;
        padding: 10px;
    }

    .login-btn {
        width: 80%;
        text-align: center;
        background-color: #ffc643;
        color: black;
                font-size: 16px;

        padding: 10px;
        border-radius: 30px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-width: 0px;
                font-family: 'Palatino Linotype', 'Palatino', serif;

    }

    .login-btn:hover {
        background-color: darkorange;
    }

    .signup-btn {
        width: 80%;
        text-align: center;
        background-color: #e7ed76;
          margin-bottom: 10px;

        color: black;
        padding: 10px;
                font-size: 16px;

        border-radius: 30px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-width: 0px;
                font-family: 'Palatino Linotype', 'Palatino', serif;

    }

    .signup-btn:hover {
        background: #5e9f23;
    }

    .signup-text{
        text-align: center;
         margin: 15px 0;
  color: #0a5247;
  font-size: 16px;
    }





