body {
    background-color: antiquewhite;
    background-image: url("lunch box.jpeg");
    background-repeat: no-repeat;
    background-position: left center;

    background-size: 45% 100%;
    font-family: "cooper";
    height: 100vh;
    margin-right: 200px;

.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    right: 0
}
.right-section {
    /*margin-right: 0px;*/
    margin-left: 55%;
    margin-top: 5px;
    margin-bottom: 20px;
    /*margin-right: auto;*/
    background-color: #bfd202;
    color: #0a5247; /* Dark Green for Text */
    padding: 30px;
    border-radius: 10px;
    width: 40%; /* Adjust card width */
    font-family: "Segoe UI";
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    right: 0


    }

.title {
    font-weight: bold;
    font-size: 40px;
    margin-top: auto;
}

    .subheading {
     font-size: larger;
     font-weight: bold;

    }

.user {
    margin-top: -35px;
    font-size: larger;
}
.timestamp {
    font-size: small;

}

.ingredients {
        margin-top: -18px;

}
.recipe {
        margin-top: -18px;

}

    .icons {
    display: flex;
    /*gap: 5px; !* רווח בין האייקונים *!*/
    background-color: #0a5247; /* צבע רקע ירוק כהה */
    width: fit-content;
    border-radius: 8px; /* פינות מעוגלות למכולה */
}

button {
    background-color: transparent; /* רקע כפתור שקוף */
    border: none; /* בלי גבולות */
    cursor: pointer; /* הופך את הסמן ליד בעת ריחוף */
    padding: 10px;
    border-radius: 50%; /* הופך את האייקונים לעגולים */
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #043b33;
}

button i {
    font-size: 24px; /* גודל האייקונים */
    color: #e7ed76; /* ירוק בהיר */
}

}