body {
    background-color: #e7ed76;
    font-family: "Cooper", serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

h3 {
    text-align: center;
    color: #0a5247;
    font-size: 60px;
    margin: 0;
    padding: 10px 20px;
    background-color: #bfd202;
    border-radius: 10px;
}

h4 {
    color: #0a5247;
    font-size: 26px;
    margin-top: -20px;
    margin-bottom: 15px;
}

.form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #0a5247;
    font-family: 'Palatino Linotype', 'Palatino', serif;
    margin-bottom: 5px;
    text-align:center;
    width: 100%;

    /*margin-left: 30px;*/

    /*display: block;*/
    /*align-self: flex-start;*/
}

.input-field {
    display: block;
    justify-content: start;
    align-items: start;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #e7ed76;
    border: 1px solid #0a5247;
    font-family: 'Palatino Linotype', 'Palatino', serif;
    padding: 10px;
    box-sizing: border-box;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.signup-btn, .signin-btn {
    width: 80%;
    text-align: center;
    background-color: #ffc643;
    color: black;
    font-size: 16px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    font-family: 'Palatino Linotype', 'Palatino', serif;
}

.signup-btn {
    margin-top: 10px;
    background-color: #ffc643;
    color: #000000;
}

.signup-btn:hover {
    background-color: orange;
    animation: grow 0.5s ease-in-out;
}

.signin-btn {
    background-color: lightgreen;
    color: #000000;
}

.signin-btn:hover {
    background-color: green;
    animation: grow 0.5s ease-in-out;
}


.signin-text {
    margin-top: 20px;
    font-size: 14px;
    color: #0a5247;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}

.photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

}

.photo-label {
    align-items: center;
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #0a5247;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #e7ed76;
    border-radius: 30px;
    border: 1px solid #043b33;
    box-sizing: border-box;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.photo-label:hover {
    background-color: #d4d85d;
}

.photo-label i {
    font-size: 24px;
    color: #0a5247;
    margin-right: 10px;
}
