body{
    background-color: #e7ed76;
    font-family: "cooper", Serif;
}

h1{
 text-align: left ;
  color: #0a5247;
  font-size: 50px;
    background-color: #bfd202;
   padding: 50px 100px;
    width: 100%;
    margin-top: 0px;



}