{% extends 'base.html'%}

{% block page_head %}
    <meta charset="UTF-8">
    <title>LunchBox Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='recipe/static/CSS/recipe.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="image-section">
            <img src="{{ url_for('static', filename='images/' + recipe.image_url) }}" alt="Lunchbox">
        </div>

        <div class="right-section">
<h1 class="title">{{ recipe.title }}</h1>
            <p class="user"><strong>Posted by:</strong> {{ recipe.created_by }}</p>
            <p class="timestamp"><strong>Posted on:</strong> {{ recipe.created_at }}</p>
            <p class="description">
                <strong>Description:</strong> {{ recipe.description }}
            </p>

            <h2 class="subheading">Ingredients</h2>
            <ul class="ingredients">
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>

            <h2 class="subheading">Recipe</h2>
            <ul class="recipe">
                {% for step in recipe.recipe %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ul>

            <p class="tag"><strong>Dietary Tags:</strong>
                {% for tag in recipe.dietaryTags %}
                    #{{ tag }}
                {% endfor %}
            </p>
        </div>
    </div>
</main>
{% endblock %}