{% extends 'base.html'%}

{% block page_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile/static/CSS/profile.css') }}">
{% endblock %}


{% block content %}
<main>
    <!-- Profile Content -->
    <div class="container">
        <!-- Left Section: User Info -->
        <div class="left-half">
            <h1>My Profile</h1>
            <img src="{{ url_for('static', filename='images/' + user.profile_picture) }}"
                 alt="User Profile Picture" class="profile-picture">
                        <div class="username">
                 <strong>@{{ user.username }}</strong> <br>
                <span>{{ user.email }}</span> <br>
            </div>
        </div>

        <!-- Right Section: User Lunchboxes -->
        <div class="right-half">
        {% for image in user.uploaded_recipes %}
    <a href="{{ url_for('recipe_page_from_profile', image_name=image) }}">
        <img src="{{ url_for('static', filename='images/' + image) }}"
             alt="Recipe Image" class="lunchbox-picture">
    </a>
{% endfor %}
            </div>
        </div>
    </main>
{% endblock %}