{% extends 'base.html'%}

{% block page_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile/static/CSS/profile.css') }}">
{% endblock %}



    <!-- Navigation Bar -->
{#    <nav>#}
{#        <div class="nav-logo">What's in my Box?</div>#}
{#        <div class="nav-links">#}
{#            <a href="../../feed/templates/feed.html">Feed</a>#}
{#            <a href="profile.html">My Profile</a>#}
{#            <a href="../../post/templates/post.html">Share a New Post</a>#}
{#            <a href="../../search/templates/search.html">Search</a>#}
{#            <a href="../../log%20in/templates/login.html" class="logout">Log Out</a>#}
{#        </div>#}
{#    </nav>#}

{% block content %}
<main>
    <!-- Profile Content -->
    <div class="container">
        <!-- Left Section: User Info -->
        <div class="left-half">
            <h1>My Profile</h1>
            <img src="../../../static/images/newprofile.jpg" alt="User Profile Picture" class="profile-picture">
            <div class="username">
                <strong>@username</strong>
                <br>
                <span>@Email</span>
                <br>
                <strong>Number of lunch boxes</strong>
            </div>
        </div>

        <!-- Right Section: User Lunchboxes -->
        <div class="right-half">
            <a href="../../recipe/templates/recipe.html">
                <img src="../../../static/images/AutumnSalad.jpg" alt="Lunch Box 1" class="lunchbox-picture">
            </a>
            <a href="../../recipe/templates/recipe.html">
                <img src="../../../static/images/meatballs.jpg" alt="Lunch Box 2" class="lunchbox-picture">
            </a>
            <a href="../../recipe/templates/recipe.html">
                <img src="../../../static/images/recipe3.jpg" alt="Lunch Box 3" class="lunchbox-picture">
            </a>
              <a href="../../recipe/templates/recipe.html">
                <img src="../../../static/images/Recipe2.jpg" alt="Lunch Box 4" class="lunchbox-picture">
             </a>
            </div>
        </div>
    </main>
{% endblock %}