<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's In My Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login/static/CSS/login.css') }}">
</head>
<body>

     <h3>What's In My Box?</h3>
       <div class="container">
        <h4>Hello again!</h4>
        <h1>LOG IN</h1>
        <form id="login-form" method="POST" novalidate>
            <!-- Email Input -->
            <input
                type="email"
                id="email"
                placeholder="Email"
                class="input-field"
                required
                aria-label="Email">
{#            <span class="error" id="emailError"></span>#}

            <!-- Password Input -->
            <input
                type="password"
                id="password"
                placeholder="Password"
                class="input-field"
                required
                aria-label="Password">
            <span class="error" id="emailError"></span>

            <!-- Login Button -->
            <button type="submit" class="login-btn">Login</button>
        </form>
        <p class="signup-text">Don't have an account yet?</p>
        <button onclick="window.location.href='{{ url_for('signup') }}'"
            class="signup-btn">Sign Up!
        </button>
    </div>
    <script src="../pages/login/static/js/login.js"></script>
</body>
</html>

