* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cooper", serif;
}

body {
    background-color: #bfd202;
    background-image: url("../../../../static/media/images/lunchbox.jpeg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45% 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

h3 {
    text-align: center;
    color: #0a5247;
    font-size: 60px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e7ed76;
    width: 55%;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    margin-top: 80px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    width: 40%;
    margin-left: 5%;
}

h4 {
    color: #0a5247;
    font-size: 25px;
    margin-top: 20px;
}

h1 {
    color: #0a5247;
    font-size: 60px;
    margin-bottom: 20px;
}

.input-field {
    width: 80%;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #e7ed76;
    border: 1px solid #8bc34a;
    font-family: 'Palatino Linotype', 'Palatino', serif;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-btn {
    width: 80%;
    text-align: center;
    background-color: #ffc643;
    color: black;
    font-size: 16px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    font-family: 'Palatino Linotype', 'Palatino', serif;
    cursor: pointer;
}

.login-btn:hover {
    background-color: darkorange;
    animation: grow 0.5s ease-in-out;
}

.signup-btn {
    width: 80%;
    text-align: center;
    background-color: lightgreen;
    margin-bottom: 10px;
    color: black;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    font-family: 'Palatino Linotype', 'Palatino', serif;
    cursor: pointer;
}

.signup-btn:hover {
    background: #5e9f23;
    animation: grow 0.5s ease-in-out;
}

.signup-text {
    text-align: center;
    margin: 15px 0;
    color: #0a5247;
    font-size: 16px;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.dynamic-error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    font-family: 'Palatino Linotype', 'Palatino', serif;
    text-align: center;
}
